*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins");
  font-display: swap;
}

:root {
  font-size: 1rem; // fallback for older browsers
  font-size: calc(1vw + 1vh + 0.5vmin); // fluid typography
}

html,
body,
.v-application {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  word-spacing: 1px;
}

// main nav

.v-toolbar.v-toolbar--prominent {
  .v-toolbar__content {
    align-items: center;
    padding: 0.25rem 0.75rem;
  }
}

.v-application {
  .v-card__title,
  .v-card__subtitle,
  .v-card__text {
    word-break: keep-all;
  }

  ul,
  ol {
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }

  p > a {
    color: #0d47a1;
  }

  p,
  p + p,
  ul {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  pre {
    margin-bottom: 2rem;
    min-width: 100%;
    code {
      font-size: 0.75rem;
      max-width: 100%;
      min-width: 100%;
      padding: 1rem;
    }
    code:before {
      content: "";
    }
  }

  .v-text-field--outlined fieldset {
    border-color: #ccc;
  }

  .v-input--selection-controls .v-input__control {
    width: 100%;
  }
}

// footer

.v-footer {
  ul {
    list-style-type: none;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// helper classes
.full-height {
  min-height: 100%;
}
